.home_conatiner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--primary);
  color: var(--tertiary);
}

.home_conatiner_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.home_conatiner_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 10rem;
  gap: .5em;
}

.home_container_buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* padding: 2rem; */
}

.home_container_buttons button:first-child:hover {
  background-color: var(--tertiary) !important;
  color: var(--primary) !important;
}

.home_container_buttons button:last-child:hover {
  background-color: var(--secondary) !important;
}

.underline {
  text-decoration: underline;
}

.red_line {
  height: 2px;
  width: 4em;
  background-color: var(--secondary);
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px; /* adjust as needed */
}

@media screen and (max-width: 500px) {
  .home_conatiner {
    grid-template-columns: 1fr;
  }
}
